<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <!--Directory for log files-->
    <property name="LOG_HOME" value="D:/logs"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
         <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_HOME}/main_log.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <append>true</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
        </layout>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>
    <logger name="com.gitHub.xMIFx"  level = "info" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>